<div class="topic">
    <h1>Examiners</h1>
</div>

<div class = "RegisteredTable">

    <div>
        <input [(ngModel)]="searchText" placeholder="Search" class="form-control" />
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Examiner Name</th>
                <th>Email</th>
                <th>Students</th>
                <th>Add Records</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of filteredData">
                <td>{{ row.column1 }}</td>
                <td>{{ row.column2 }}</td>
                <td>{{ row.column3 }}</td>
                <td>{{ row.column4 }}</td>
                <td>{{ row.column5 }}</td>
            </tr>
        </tbody>
    </table>
</div>
<br><br><br><br><br>
