<div class="topic">
    <h1>Examiners</h1>
</div>

<div class = "RegisteredTable">

    <div>
        <input [(ngModel)]="searchText" placeholder="Search" class="form-control" />
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Examiner Name</th>
                <th>Department</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of filteredData">
                <td>{{ row.id }}</td>
                <td>{{ row.fullName }}</td>
                <td>{{ row.department }}</td>
                <td>{{ row.email }}</td>
            </tr>
        </tbody>
    </table>
</div>
<br><br><br><br><br>
