/* Whole Container */
.wholeContainer {
  display: flex;
  width: 100%;
}

.toggle-btn {
  position: fixed;
  right: 0px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  z-index: 1;
}
#showSidebarBtn {
  display: none;
}