<app-top-navigation mode="login"></app-top-navigation>

<div class="main">
    <app-second-navigation></app-second-navigation>

    <div class="wholeContainer">
        
        <app-sidebar-left></app-sidebar-left>

        <div class="middle-content">
            <div class="topic">
                <h1 class="text-center">Login</h1>
            </div>
            
            
            <div class="login-form">
                <form (ngSubmit)="onSubmit()">
                    <table>
                        <tr>
                            <td><input type="text" name="username" size="36" placeholder="Username..."></td>
                        </tr>
                        <tr>
                            <td><input type="password" id="pwd" name="pwd" minlength="8" size="36" placeholder="Password..."></td>
                        </tr>
                        <tr>
                            <td><hr></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Login"></td>
                        </tr>
                        <tr>
                            <td><p style="font-family: Arial, Helvetica, sans-serif; font-size:12px;">New Here? <button class="btn" (click)="navigateToSignup()">Sign Up</button>
                            </p></td>
                        </tr>
                    </table>
                    
                    <br><br>
                </form>
            </div>
            <br><br><br><br><br>
            
        </div>

    </div>

    <app-footer></app-footer>
</div>
