<div class="topic">
    <h1>Assignment Submission</h1>
</div>

<br>
<div class="feedback-form">
    <form (ngSubmit)="onSubmit()">

    <table style="width: 100%;">
        <tr>
            <td>Assignment Name:</td>
            <td>{{ title }}</td>
        </tr>
        <tr>
            <td>Opened Date:</td>
            <td>{{ openedDate }}</td>
          </tr>
          <tr>
            <td>Due Date:</td>
            <td>{{ dueDate }}</td>
          </tr>
          <tr>
            <td>Set Due Date:</td>
            <td>
              <input type="date" name="date" [(ngModel)]="setDueDate.date" required>
              <input type="time" name="time" [(ngModel)]="setDueDate.time" required>
              <button type="submit">Set Deadline</button>
            </td>
          </tr>
        </table>

    </form>

<!-- File Upload Form -->
<form (ngSubmit)="onFileUpload()" enctype="multipart/form-data">
    <table style="width: 100%;">
      <tr>
        <td>
          <input type="file" (change)="onFileChange($event)" multiple>
          <span *ngIf="selectedFiles.length > 0">{{ selectedFiles.length }} files selected</span>
        </td>
        <td>
          <button type="submit">Upload Files</button>
        </td>
      </tr>
    </table>
  </form>


    <table style="width: 100%;">
        <tr>Choose file/ files:</tr>
        <tr *ngIf="!isUploading">

            <div class="upload-container">

                <div
                    class="drop-zone"
                    [class.active]="isDragging"
                    (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave($event)"
                    (drop)="onDrop($event)"
                    (click)="fileInput.click()"
                >
                    <input
                    type="file"
                    #fileInput
                    multiple
                    (change)="onFileSelected($event)"
                    hidden
                    />
                    <p>Drag & Drop files here or click to select files</p>
                </div>

                <div class="file-list" *ngIf="files.length > 0">
                    <h5>Selected Files</h5>
                    <ul>
                    <li *ngFor="let file of files; let i = index">
                        <i class="fa fa-file"></i>
                        <span>{{ file.name }}</span>
                        <span class="file-size">{{ formatBytes(file.size) }}</span>
                        <i class="fa fa-times remove-icon" (click)="removeFile(i)"></i>
                    </li>
                    </ul>
                </div>

                <div class="actions" *ngIf="files.length > 0">
                    <button class="upload-btn" (click)="uploadFiles()">Upload Files</button>
                    <button class="clear-btn" (click)="clearFiles()">Clear Files</button>
                </div>
            </div>




        </tr>
        <tr *ngIf="isUploading">
            <div class="file-list">
                <h6>Uploaded Files</h6>
                <ul>
                <li *ngFor="let file of uploadedFiles; let i = index">
                    <i class="fa fa-file"></i>
                    <span>{{ file.name }}</span>
                    <span class="file-size">{{ formatBytes(file.size) }}</span>
                    <!-- <i class="fa fa-times remove-icon" (click)="removeFile(i)"></i> -->
                </li>
                </ul>
            </div>
        </tr>
        <br>
    </table>

    <table style="width: 100%;">
        <br>
        <tr>

            <td><h4>Status</h4></td>
        </tr>
        <tr>
            <td>Submission status:</td>
            <td>{{ submissionStatus }}</td>
        </tr>
        <tr>
            <td>Time remaining:</td>
            <td>{{ timeRemaining }}</td>
        </tr>
        <tr>
            <td>Last Modified:</td>
            <td>{{ lastModified }}</td>
        </tr>
    </table>



    <br><br><hr><br><br>
    <input type="submit" value="Edit/ Submit"><br><br>
</div>
