<div class="topic">
    <h1>Assignment Submission</h1>
</div>

<br>
<div class="feedback-form">
    <table style="width: 100%;">
        <tr>
            <td>Opened Date:</td>
            <td>2024/08/.... time</td>
        </tr>
        <tr>
            <td>Due Date:</td>
            <td>2024/08/.... time</td>
        </tr>
        <tr>
            <td>Assignment:</td>
            <td>File (if there anything)</td>
        </tr>
        <br>
    </table>

    <table style="width: 100%;">
        <tr>
            <td><input type="file"></td>
        </tr>
        <br>
    </table>

    <table style="width: 100%;">
        <br>
        <tr>
            <td><h4>Status</h4></td>
        </tr>
        <br>
        <tr>
            <td>Submission status:</td>
            <td>Submitted</td>
        </tr>
        <tr>
            <td>Time remaining:</td>
            <td>2 Days</td>
        </tr>
        <tr>
            <td>Last Modified:</td>
            <td>2 Days ago</td>
        </tr>
    
    </table>
    <br><br><hr><br><br>
    <input type="submit" value="Edit/ Submit"><br><br>
</div>
<br>
<br>