<app-top-navigation mode="beforeLog"></app-top-navigation>

<div class="main">
    <!-- <app-second-navigation></app-second-navigation> -->

    <div class="wholeContainer">
        
        <app-sidebar-left mode="beforeLog"></app-sidebar-left>

        <div class="middle-content-beforelog">
            <div class="topic">
                <h1 class="text-center">Postgraduate Studies</h1>
            </div>
            
            <img src="images/welcome-page.jpg" alt="PGSMS" class="full-width-image">      
            
            <br>

            <div class="research-box">
            <p><h5><b>Requirements</b></h5><br>

            <p>The requirements for successful completion of respective Diploma/Degree programmes are given in the following.</p>

            <p><h6><b>Postgraduate Diploma (PG.Dip.):</b></h6>

            <p>In order to be eligible for the award of the PG.Dip., a student shall have satisfied the following requirements.</p>

            <p><i><b>(a) Coursework Option </b></i>A total of 25 credits earned with at least 2.75 GPA from prescribed courses including an advanced study of at least 3 credits. </p>


            <p><i><b>(b) Research Option </b></i> Successful completion of a research study of 25 credits.</p>
                    
            <p><i><b>Coursework and Research Option:</b></i>A total of 12 credits earned from prescribed courses with at least 2.75 GPA and successful completion of full-time research study of at least four (4) months&#39; duration or its equivalent (i.e., 6 months) on a part-time basis.</p>

            <p><h6><b>Degree of Master of Engineering (M.Eng.):</b></h6>
                    
            <p>In order to be eligible for the award of the Degree of M.Eng., a student shall have earned a total of 30 credits with at least 3.0 GPA from the prescribed courses including an advanced study of at least 5 credits.</p>

            <p><h6><b>Masters Degree:</b></h6>

            <p>In order to be eligible for the award of the Masters Degree, a student shall have earned a total of 30 credits with at least 3.0 GPA from the prescribed courses including an advanced study of at least 5 credits.</p>
                
            <p><h6><b>Degree of Master of the Science of Engineering (M.Sc.Eng.):</b></h6>

            <p>In order to be eligible for the award of the M.Sc.Eng. Degree a student shall have</p>

            <p><u>EITHER</u></p>
            <p>(i)	earned a total of 30 credits from the prescribed courses with at least 3.0 GPA 
            and 
            </p>

            <p>(ii)	successfully completed a research study of 30 credits.</p>

            <p><u>OR</u></p>

            <p>(i)	earned a total of 45 credits from the prescribed courses with at least 3.0 GPA 
            and
            </p>

            <p>(ii)	successfully completed a research study of 15 credits.</p>

            <p><h6><b>Degree of Master of Science (M.Sc.):</b></h6>

            <p>In order to be eligible for the award of the Degree of M.Sc., a student shall have</p>

            <p><u>EITHER</u></p>
            <p>(i)	earned a total of 30 credits from the prescribed courses with at least 3.0 GPA 
            And
            </p>

            <p>(ii)	successfully completed a research study of 30 credits.  </p>

            <p><u>OR</u></p>

            <p>(i)	earned a total of 45 credits from the prescribed courses with at least 3.0 GPA 
            And 
            </p>

            <p>(ii)	successfully completed a research study of 15 credits.</p>

            <p><h6><b>Degree of Master of Philosophy (M.Phil.):</b></h6>

            <p>In order to be eligible for the award of the M.Phil. Degree, a student shall have successfully completed a research study of at least two years duration on full-time basis or its equivalent (i.e., 3 years)  on part-time basis.</p>

            <p><h6><b>Degree of Doctor of Philosophy (Ph.D.):</b></h6>

            <p>In order to be eligible for the award of the Ph.D. Degree, a student shall have successfully completed a research study of at least three years duration on full-time basis or its equivalent (i.e., 4.5 years) on part-time basis.</p>

            <p><i>Note: One credit unit is equivalent to 15 hours of lectures or 30 hours of practical work.</i></p>


            <div class="myButtonDesign">
                <button (click)="navigateToEnroll()" class="my-button" style="padding: 10px 20px;">Enroll Now</button>
            </div>

            </div> <!-- end #content -->
            
            
        </div>

    </div>

    <app-footer></app-footer>
</div>


<!-- <div class="wholeContainer">
    
    <app-sidebar-left></app-sidebar-left>

    <div class="middle-content">

    </div>

</div>

<app-footer></app-footer> -->