/* Full Width Image */
.full-width-image {
    width: 100%;
    height: auto;
    display: block;
}

/* Hide Sidebar on Small Screens */
@media only screen and (max-width: 800px) {
    .middle-content-beforelog {
        margin-left: 0px;
        width: 100%;
    }
}

