<app-top-navigation mode="beforeLog"></app-top-navigation>

<div class="main">
    <!-- <app-second-navigation></app-second-navigation> -->

    <div class="wholeContainer">
        
        <app-sidebar-left></app-sidebar-left>

        <div class="middle-content-beforelog">
            <div class="topic">
                <h1 class="text-center">Postgraduate Studies</h1>
            </div>
            
            <img src="images/welcome-page.jpg" alt="PGSMS" class="full-width-image">
            
            
            <br><br>
            
            <div class="myButtonDesign">
                <button (click)="navigateToEnroll()" class="my-button">Enroll Now</button>
            </div>
        </div>

    </div>

    <app-footer></app-footer>
</div>


<!-- <div class="wholeContainer">
    
    <app-sidebar-left></app-sidebar-left>

    <div class="middle-content">

    </div>

</div>

<app-footer></app-footer> -->