<div class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeAssignSupervisorByAdmin()">&times;</span>
        <h2>Assign Supervisor</h2>
        
        <form (ngSubmit)="onSubmit()">
            <div class="table-container">
                <table class="student-table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>ID</th>
                        <th>Supervisor Name</th>
                        <th>Email</th>
                        <th>No. of Supervisees</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of filteredData; let i = index">
                        <td>
                            <input type="radio" name="selectedSupervisor" [(ngModel)]="selectedSupervisor" [value]="row">
                        </td>
                        <td>{{ row.id }}</td>
                        <td>{{ row.fullName }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.noOfSupervisees }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <button type="submit" style="width: 100px;">Assign</button>
        </form>
    </div>
</div>
