<div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Add New Section</h2>
      <form (ngSubmit)="submit()">
        <label for="buttonName">Button Name:</label>
        <input type="text" id="buttonName" [(ngModel)]="buttonName" name="buttonName" required>
        
        <div *ngFor="let tile of tiles; let i = index">
          <label for="title">Title:</label>
          <input type="text" id="title" [(ngModel)]="tile.title" name="title{{i}}" required>
          <label for="link">Link:</label>
          <input type="text" id="link" [(ngModel)]="tile.link" name="link{{i}}" required>
          <button type="button" (click)="removeTile(i)">Remove Tile</button>
        </div>
        
        <button type="button" (click)="addTile()">Add Tile</button>
        <button type="submit">Create</button>
      </form>
    </div>
</div>
  