<div class="topic">
    <h1>Postgraduate Students</h1>
</div>

<div class = "RegisteredTable">

    <div>
        <input [(ngModel)]="searchText" placeholder="Search" class="form-control" />
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <th>Reg. No</th>
                <th>Student Name</th>
                <th>Status</th>
                <th>Research Topic</th>
                <th>Supervisor</th>
                <th>Add Records</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of filteredData">
                <td>{{ row.column1 }}</td>
                <td>{{ row.column2 }}</td>
                <td>{{ row.column3 }}</td>
                <td>{{ row.column4 }}</td>
                <td>{{ row.column5 }}</td>
                <td>{{ row.column6 }}</td>
            </tr>

            
        </tbody>
    </table>
    <button (click)="navigateToStudentProfileToAdmin()" class="btn btn-primary btn-lg">Students</button><br><br>
</div>
<br><br><br><br><br>