<div class="topic">
    <h1>Postgraduate Students</h1>
</div>

<div class = "RegisteredTable">
    <table>
        <thead>
            <tr>
                <th>Reg. No</th>
                <th>Student Name</th>
                <th>Status</th>
                <th>Research Topic</th>
                <th>Add Records</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Supun Perera</td>
                <td>University of Peredeniya</td>
                <td>None</td>
                <td></td>
            </tr>


            <tr  th:each="student : ${liststudent }">
                
                <td th:text="${student.id}">Student ID</td>
                <td th:text="${student.studentname}">StudentName</td>
                <td th:text="${student.course}">Course</td>
                <td th:text="${student.fee}">Fee</td>
                <td th:text="${student.add}">Add</td>
                
            </tr>
        </tbody>
    </table>
</div>
<br><br><br><br><br>