<ul class="topnav">
    <li><a class="active" routerLink="/welcome">Home</a></li>
    <li><a class="right" routerLink="/dashboard">Dashboard</a></li>
    <li class="right"><a routerLink="/login">Log Out</a></li>
    <li class="right"><a routerLink="/enroll">Enroll</a></li>
    <li class="right">
    <img src="https://i.ibb.co/DwThLns/Notification-image.png" alt="Notification" id="notificationButton" class="notifyImage" height="20px" width="auto">
    </li>
</ul>

<app-notification-panel></app-notification-panel>