.middle-content.full-width {
    display: block;
    width: calc(100% - 232px);
    margin-left: 232px;
    margin-right: 0px; 
    padding-top: 0px;
    transition: margin-right 0.3s ease;
}

.middle-content.reduced-width {
    display: block;
    width: calc(100% - 482px);
    margin-left: 232px;
    margin-right: 250px; 
    padding-top: 0px;
    transition: margin-right 0.3s ease;
}
