<div class="topic">
    <h1>Assign Examiners</h1>
</div>

<div class = "RegisteredTable">

    <div>
        <input [(ngModel)]="searchText" placeholder="Search" class="form-control" />
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Student Reg. No</th>
                    <th>Academic Year</th>
                    <th>Submission Title</th>
                    <th>Examiners</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let row of filteredData">
                    <td>{{ row.id }}</td>
                    <td>{{ row.fullName }}</td>
                    <td>{{ row.department }}</td>
                    <td>{{ row.email }}</td>
                </tr> -->
            </tbody>
        </table>
    </div>
    
</div>
<br><br><br><br><br>
