<div class="topic">
    <h1>Report Submissions</h1>
</div>

<div class = "RegisteredTable">

    <div>
        <input [(ngModel)]="searchText" placeholder="Search" class="form-control" />
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Student Reg. No</th>
                    <th>Year</th>
                    <th>Submission Id</th>
                    <th>Submission Title</th>
                    <th>Submission Type</th> <!-- Pre / Final -->
                    <th>Status</th>
                    <th>Submit/ Due Date</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let row of filteredData">
                    <td>{{ row.id }}</td>
                    <td>{{ row.fullName }}</td>
                    <td>
                        <a [routerLink]="[*ngIf submissionType === 'Pre' ? '/afterlog/assignment-submission' : '/afterlog/final-assignment-submission', row.submissionId]">
                            {{ row.submissionId }}
                        </a>
                    </td>
                    <td>{{ row.department }}</td>
                    <td>{{ row.email }}</td>
                </tr> -->
            </tbody>
        </table>
    </div>
    
</div>
<br><br><br><br><br>
