<div class="sidebar-left">

  <div style="display: flex;">

    <nav>
      <div *ngIf="mode === 'beforeLog'">
        <a [routerLink]="['/beforelog/welcome']">
          <img src="https://i.ibb.co/9hRdFVt/cropped-web-front-page-logo.png" alt="PGSMS" width="40px" height="40px">
        </a>
      </div>

      <div *ngIf="mode === 'afterLog'">
        <a [routerLink]="['/afterlog/home-for-roles']">
          <img src="https://i.ibb.co/9hRdFVt/cropped-web-front-page-logo.png" alt="PGSMS" width="40px" height="40px">
        </a>
      </div>
    </nav>

    <h3 style="margin-left: 15px; margin-top: 5px; color: orange;">PGSMS</h3>
  </div>
  <hr style="color: aliceblue;">
  <br>


  <!-- Sidebar Content Wrapper -->
  <div class="sidebar-content">
    <!-- Main Menu -->
    <ul *ngIf="!isDropdownActive">
      

      <nav>

        <div *ngIf="mode === 'beforeLog'">
          <li routerLinkActive="active"><a routerLink="/beforelog/welcome">Home</a></li>
          <li routerLinkActive="active"><a routerLink="/beforelog/enroll">Enroll</a></li>
          <li routerLinkActive="active"><a routerLink="/beforelog/login">Login</a></li>
        </div>

        <div *ngIf="mode === 'afterLog'">
          <li routerLinkActive="active"><a routerLink="/afterlog/home-for-roles">Home</a></li>
          <li [class.active]="isDashboardActive()"><a (click)="navigateToDashboard()">Dashboard</a></li>
          <li [class.active]="isEditProfileActive()"><a (click)="navigateToEditProfile()">Profile</a></li>
          <li [class.active]="isEditProfileActive()"><a (click)="navigateToEditProfile()">Notification</a></li>
        </div>

      </nav>
    </ul>


    <!-- Dropdown Menu -->
    <ul *ngIf="isDropdownActive">
      <li (click)="toggleDropdown1()"><a>Postgraduate Studies <i class="fa fa-caret-down" style="margin-left: 5px; font-size: 12px;"></i></a></li>

      <ul *ngIf="dropdown1">
        <li routerLinkActive="active"><a routerLink="/dropdown/item1">Programmes</a></li>
        <li routerLinkActive="active"><a routerLink="/dropdown/item2">Admission</a></li>
        <li routerLinkActive="active"><a routerLink="/dropdown/item3">Scholarships</a></li>
        <li routerLinkActive="active"><a routerLink="/dropdown/item3">Research</a></li>
      </ul>

      <li (click)="toggleDropdown2()"><a>Computer Engineering <i class="fa fa-caret-down" style="margin-left: 5px; font-size: 12px;"></i></a></li>

      <ul *ngIf="dropdown2">
        <li routerLinkActive="active"><a routerLink="/dropdown/item1">Programmes</a></li>
        <li routerLinkActive="active"><a routerLink="/dropdown/item2">Admission</a></li>
      </ul>

      <li (click)="toggleDropdown3()"><a>Centers & Units <i class="fa fa-caret-down" style="margin-left: 5px; font-size: 12px;"></i></a></li>

      <ul *ngIf="dropdown3">
        <li routerLinkActive="active"><a routerLink="/dropdown/item1">Programmes</a></li>
        <li routerLinkActive="active"><a routerLink="/dropdown/item2">Admission</a></li>
      </ul>

      <li (click)="toggleDropdown4()"><a>Department & Staff <i class="fa fa-caret-down" style="margin-left: 5px; font-size: 12px;"></i></a></li>

      <ul *ngIf="dropdown4">
        <li routerLinkActive="active"><a routerLink="/dropdown/item1">Programmes</a></li>
        <li routerLinkActive="active"><a routerLink="/dropdown/item2">Admission</a></li>
      </ul>

    </ul>
  </div>



  <!-- Toggle Dropdown -->
  <ul class="sidebar-footer">
    <li (click)="toggleDropdown()">
      
      <a style="cursor: pointer;">More Details <i [ngClass]="!isDropdownActive ? 'fa fa-caret-up' : 'fa fa-caret-down'" style="margin-left: 5px; font-size: 12px;"></i></a>
    </li>
  </ul>
</div>
  
