/* Left Sidebar */
.sidebar-left {
    width: 220px;
    /* background-color: rgba(18, 55, 71, 0.8); */
    padding: 15px;
    box-shadow: 5px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    top: 0px;
    
    background: 
    /* Solid color layer */
    linear-gradient(to bottom, rgba(18, 55, 71, 0.9), rgba(18, 55, 71, 0.9)),
    /* Image layer */
    url('/images/slide-4New.jpg') no-repeat center center;
  background-size: cover; /* Adjust if needed */
}

.sidebar-left ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-left ul li {
    margin: 10px 0;
}

.sidebar-left ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background for links */
}

.sidebar-left ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Change hover background color to be more visible */
}