<div class="sidebar-left">

  <div style="display: flex;">
    <a [routerLink]="['/beforelog/welcome']">
      <img src="https://i.ibb.co/9hRdFVt/cropped-web-front-page-logo.png" alt="PGSMS" width="40px" height="40px">
    </a>
    <h3 style="margin-left: 15px; margin-top: 5px; color: orange;">PGSMS</h3>
  </div>
  <hr style="color: aliceblue;">
  <br>
  <ul>
    <li><a href="#topic1">Topic 1</a></li>
    <li><a href="#topic2">Topic 2</a></li>
    <li><a href="#topic3">Topic 3</a></li>
    <li><a href="#topic4">Topic 4</a></li>
  </ul>
</div>
  
