<div class="topic">
    <h1>Feedback Form</h1>
</div>

<br>
<div class="feedback-form">
    <table style="width: 100%;">
        <tr>
            <td>Feedback:</td>
            <td><textarea name="feedback" rows="4" style="width: 100%;"></textarea></td>
        </tr>
        <br>
        <tr>
            <td>Feedback file:</td>
            <td><input type="file"></td>
        </tr>
        
    </table>
    <br><br><hr><br><br>
    <input type="submit" value="Upload Feedback"><br><br>
</div>
<br>
<br>