/* Top Navigation Bar */
ul.topnav {
    position: fixed;
    top: 0;
    width: calc(100% - 232px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
    height: 44px;
    left: 232px;
    z-index: 2;
}
ul.topnav li {float: left;}

ul.topnav li button {
  display: block;
  background-color: rgb(243, 243, 243);
  color: gray;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border: none;
  height: 44px;
}

ul.topnav li button.active {
  background-color: rgb(243, 243, 243);
  color: gray;
}

ul.topnav li.right {float: right;}
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
.notifyImage{
    margin-top: 14px;
    margin-right: 15px;
    margin-left: 15px;
}

/* Target the icon directly */
.right i.fa-circle-user {
  font-size: 30px; /* Change this value to adjust the size */
  margin-right: 15px;
  margin-left: 15px;
}
ul.topnav li button.dp {
  padding: 0;
}

ul.topnav li button.notify {
  border: none;
}
ul.topnav li button.notify:hover{
  background-color: rgb(243, 243, 243);
}