/* Top Navigation Bar */
ul.topnav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #123747;
    height: 44px;
}
ul.topnav li {float: left;}

ul.topnav li button {
  display: block;
  background-color: #123747;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border: none;
  height: 44px;
}

ul.topnav li button:hover {background-color: #164255;}
ul.topnav li button.active {
  background-color: #123747;
  color: rgb(255, 255, 100);
}

ul.topnav li.right {float: right;}
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
.notifyImage{
    margin-top: 14px;
    margin-right: 15px;
    margin-left: 15px;
}

/* Target the icon directly */
.right i.fa-circle-user {
  font-size: 30px; /* Change this value to adjust the size */
  margin-right: 15px;
  margin-left: 15px;
}
ul.topnav li button.dp {
  padding: 0;
}
ul.topnav li button.dp:hover{
  background-color: #164255;
}