<nav>
    <div *ngIf="mode === 'afterLog'">
        <!-- Content for after login -->
        <ul class="topnav">
            <li><button class="active" (click)="navigateToHome()">Home</button></li>
            <li><button (click)="navigateToDashboard()">Dashboard</button></li>
            <li class="right"><button (click)="navigateToLogin()">Log out</button></li>
            <li class="right"><button class="dp" (click)="navigateToEditProfile()"><i class="fa fa-circle-user"></i></button></li>
            <!-- <li class="right">
                <img src="https://i.ibb.co/DwThLns/Notification-image.png" alt="Notification" id="notificationButton" class="notifyImage" height="20px" width="auto">
            </li>
            <app-notification-panel></app-notification-panel> -->
            <li class="right"><img src="https://i.ibb.co/DwThLns/Notification-image.png" alt="Notification" id="notificationButton" class="notifyImage" height="20px" width="auto"></li>
            
        </ul>
        <app-notification-panel></app-notification-panel>
    </div>
    

    <div *ngIf="mode === 'beforeLog'">
        <!-- Content for before login -->
        <ul class="topnav">
            <li><button class="active" (click)="navigateToHome()">Home</button></li>
            <li class="right"><button (click)="navigateToLogin()">Login</button></li>
            <li class="right"><button (click)="navigateToEnroll()">Enroll</button></li>
        </ul>
    </div>

    <div *ngIf="mode === 'login'">
        <!-- Content for login -->
        <ul class="topnav">
            <li><button class="active" (click)="navigateToHome()">Home</button></li>
            <li><button (click)="navigateToStuDashboard()">Stu-Dashboard</button></li>
            <li><button (click)="navigateToAdminDashboard()">Admin-Dashboard</button></li>
            <li><button (click)="navigateToSupervisorDashboard()">Supervisor-Dashboard</button></li>
            <li><button (click)="navigateToExaminerDashboard()">Examiner-Dashboard</button></li>
            <li class="right"><button (click)="navigateToLogin()">Login</button></li>
            <li class="right"><button (click)="navigateToEnroll()">Enroll</button></li>
        </ul>
    </div>
</nav>

