<nav>
    <div *ngIf="mode === 'afterLog'">
        <!-- Content for after login -->
        <ul class="topnav">
            <li><button class="nice-button" (click)="navigateToDashboard()"><b>Dashboard</b></button></li>
            <li class="right"><button class="nice-button" (click)="navigateToLogin()"><b>Log out</b></button></li>
            <li class="right"><button class="dp" (click)="navigateToEditProfile()"><i class="fa fa-circle-user"></i></button></li>
            <li class="right"><button class="notify" id="notificationButton"><i class="fa fa-bell" style="font-size: 19px; margin-top: 3px;"></i></button></li>
            
        </ul>
        <app-notification-panel></app-notification-panel>
    </div>
    

    <div *ngIf="mode === 'beforeLog'">
        <!-- Content for before login -->
        <ul class="topnav">
            <li><button class="active" (click)="navigateToHome()"><b>Home</b></button></li>
            <li class="right"><button (click)="navigateToLogin()"><b>Login</b></button></li>
            <li class="right"><button (click)="navigateToEnroll()"><b>Enroll</b></button></li>
        </ul>
    </div>

    <div *ngIf="mode === 'login'">
        <!-- Content for login -->
        <ul class="topnav">
            <li><button class="active" (click)="navigateToHome()">Home</button></li>
            <li><button (click)="navigateToStuDashboard()">Stu-Dashboard</button></li>
            <li><button (click)="navigateToAdminDashboard()">Admin-Dashboard</button></li>
            <li><button (click)="navigateToSupervisorDashboard()">Supervisor-Dashboard</button></li>
            <li><button (click)="navigateToExaminerDashboard()">Examiner-Dashboard</button></li>
            <li class="right"><button (click)="navigateToLogin()">Login</button></li>
            <li class="right"><button (click)="navigateToEnroll()">Enroll</button></li>
        </ul>
    </div>
</nav>

