/* Notification Panel */
.notification-panel {
    display: none;
    position: fixed;
    top: 45px;
    right: 50px;
    background-color: #d1d1d1;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 10px;
    z-index: 9999;
    border-radius: 10px;
    font-size: 14px;
}

.notification-panel p {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.tick-button {
    position: absolute;
    bottom: 10px; /* Position the button to the bottom */
    right: 10px;  /* Align it to the right */
    background-color: transparent;
    border: none;
    cursor: pointer;
}
  
.tick-button i {
color: green;
font-size: 14px;  /* Adjust size if needed */
}

@media screen and (max-width: 600px) {
    .notification-panel{
        width: 200px;
        right: 20px;
        font-size: 12px;
    }
    h5{
        font-size: 16px;
    }
}
