/* navigation.component.css */
/* Second Navigation Bar */
.secondnavigation {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 95, 0.884);
}
.secondnavigation img {
    margin-left: 10px;
    margin-right: auto;
}
.myDropdown {
    position: relative;
    float: left;
    overflow: hidden;
}
.myDropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 10px 13px;
    background-color: inherit;
    font-family: inherit;
    margin: 7px;
    position: relative;
    transition: color 0.3s;
}
.myDropdown .dropbtn::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.myDropdown .dropbtn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 15px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Ensure dropdown content is positioned below the button */
    left: 0;
}
.dropdown-content.show {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 15px;
}
