<br>
<div class="profile-box">
    <h3>{{ student.regNumber }}</h3>
    <h5>{{ student.nameWithInitials }}</h5>
    <h5>{{ student.programOfStudy }}</h5>
    <h5>Registered Date</h5>
    <h5>{{ student.status }}</h5>
</div>
<br>

<div class="research-box">
    <h3>Research</h3>
    <br>
    <h6>Effective Date of Degree:</h6>
    <app-collapsible-section
        buttonName="General"
        [tiles]="[
            { type: 'forum', title: 'Forum 1', routerLink: '/afterlog/feedback-page' },
            { type: 'submission', title: 'Application Submission', routerLink: '/afterlog/assignment-submission' }
        ]"></app-collapsible-section>
    
    
    
    <app-collapsible-section *ngFor="let section of sections" [buttonName]="section.buttonName" [tiles]="section.tiles"></app-collapsible-section>

    <button (click)="openModal()">Add New Section</button><br><br><br>
    <app-create-collapsible-section *ngIf="isModalOpen" (close)="closeModal()" (create)="addNewSection($event)" [regNumber]="regNumber"></app-create-collapsible-section>

    <button (click)="openAssignSupervisorByAdmin()" class="btn">Assign Supervisor</button>
    <app-assign-supervisor-by-admin *ngIf="isAssignSupervisorByAdminOpen" (close)="closeAssignSupervisorByAdmin()"></app-assign-supervisor-by-admin>
    
</div>
<br>

<div class="research-box">
    <h3>Courses</h3>

    <div class="course-container">
        <div class="course-box">Course 1</div>
        <div class="course-box">Course 2</div>
        <div class="course-box">Course 3</div>
    </div>

    <br>
    <div class="course-container">
        <div class="course-box">Course 4</div>
        <div class="course-box">Course 5</div>
        <div class="course-box">Course 6</div>
    </div>
</div>
<br>

<div class="research-box">
    <h3>Email</h3>
</div>

<br><br><br>