<div class="topic">
  <h1 style="text-align: center;">Dashboard</h1>
</div>
<div class="myButtonDesign">
  <a (click)="navigateToEnrolledStudents()" class="my-button">Registered Students</a>
</div>
<h2>Events</h2>

<button (click)="navigateToStudentsToAdmin()" class="btn btn-primary btn-lg">Students</button><br><br>
<button (click)="navigateToSupervisorsToAdmin()" class="btn btn-primary btn-lg">Supervisors</button><br><br>
<button (click)="navigateToExaminersToAdmin()" class="btn btn-primary btn-lg">Examinors</button><br><br>
<button class="btn btn-primary btn-lg">Report Submisions</button><br><br>
<button class="btn btn-primary btn-lg">Vivas</button><br><br>

<h2>Calendar</h2>
<br>

<div class="mainCalendar"><div id="main-calendar"></div></div>


<br>
<br>
<br>
<br>