<app-top-navigation mode="afterLog"></app-top-navigation>

<div class="main">
    <app-second-navigation></app-second-navigation>

    <div class="wholeContainer">
        
        <app-sidebar-left></app-sidebar-left>

        <div class="middle-content">
          <div class="dashb" id="mainContent">
    
            <div class="topic">
              <h1 style="text-align: center;">Dashboard</h1>
            </div>
            <div class="myButtonDesign">
              <a (click)="navigateToEnrolledStudents()" class="my-button">Registered Students</a>
            </div>
            <h2>Courses</h2>
            <h2>Calendar</h2>
            <!-- <div class="hero">
              <div id="main-calendar"></div>
            </div> -->
        </div>
        
        </div>

    </div>

    <app-footer></app-footer>
</div>




