<div class="topic">
  <h1 style="text-align: center;">Dashboard</h1>
</div>
<div class="myButtonDesign">
  <a (click)="navigateToEnrolledStudents()" class="my-button">Registered Students</a>
</div>
<h2>Events</h2>

<button (click)="navigateToStudentsToAdmin()" class="btn btn-primary btn-lg">Students</button><br><br>
<button (click)="navigateToSupervisorsToAdmin()" class="btn btn-primary btn-lg">Supervisors</button><br><br>
<button (click)="navigateToExaminersToAdmin()" class="btn btn-primary btn-lg">Examinors</button><br><br>

<button (click)="openAddStaffMembersByAdmin()" class="btn btn-primary btn-lg">Add Staff Members</button><br><br>
<app-add-staff-members-by-admin *ngIf="isAddStaffMembersByAdminOpen" (close)="closeAddStaffMembersByAdmin()"></app-add-staff-members-by-admin>

<button class="btn btn-primary btn-lg">Report Submisions</button><br><br>
<button class="btn btn-primary btn-lg">Vivas</button><br><br>
<button (click)="testingButton()" class="btn btn-primary btn-lg">Testing</button><br><br>

<h2>Calendar</h2>
<br>

<button (click)="openCreateCalendarEvent()" class="btn btn-primary btn-lg">New Event</button><br>
<app-create-calendar-event *ngIf="isCreateCalendarEventOpen" (close)="closeCreateCalendarEvent()"></app-create-calendar-event>
<app-main-calendar></app-main-calendar>


<br>
<br>
<br>
<br>