<div class="sidebar-right" id="rightSidebar">
    <button type="button" class="btn btn-outline-secondary btn-sm close-btn" id="hideSidebarBtn"><i class="fa fa-xmark"></i></button>
    <h3 style="margin-top: 0px;">Research</h3>
    <ul>
      <li><a href="#topic1">Topic 1</a></li>
      <li><a href="#topic2">Topic 2</a></li>
      <li><a href="#topic3">Topic 3</a></li>
      <li><a href="#topic4">Topic 4</a></li>
    </ul>
    <h3 style="margin-top: 0px;">Calendar</h3>
    
    <!-- <div class="rightSidebarCalendar"><full-calendar [options]="calendarOptions"></full-calendar></div> -->
    <div class="sidebarCalendar"><div id="sidebar-calendar"></div></div>

    <br><br>
    <h3 style="margin-top: 0px;">External Links</h3>
    <br>
    <br>
    <br>
    <br>
</div>

<button type="button" class="btn btn-outline-secondary toggle-btn" id="showSidebarBtn" style="display: none;"><i class="fa fa-arrow-left"></i></button>
