<div class="collapsible-container">

  <div class="collapsible-header">
    <button (click)="toggleCollapse()">
      <span [ngClass]="{'arrow-collapsed': isCollapsed, 'arrow-expanded': !isCollapsed}">
        <i [ngClass]="isCollapsed ? 'fa fa-arrow-down-short-wide' : 'fa fa-arrow-up-wide-short'"></i>
      </span>
      {{ buttonName }}
    </button>

    <!-- Delete button, visible only to admins -->
  <button *ngIf="userRole === 'ADMIN'" (click)="openDeleteSection()" style="float: right; margin-right: 10px;">
    <i class="fa fa-delete"></i>Delete
  </button>

    <!-- Edit button, visible only to admins -->
  <button *ngIf="userRole === 'ADMIN'" (click)="openEditSection()" style="float: right; margin-right: 10px;">
    <i class="fa fa-edit"></i>Edit
  </button>
  </div>

  <div [ngClass]="{'content-collapsed': isCollapsed, 'content-expanded': !isCollapsed}">
    
    <div *ngFor="let tile of tiles">
      <app-feedback-tile *ngIf="tile.type === 'forum'" [title]="tile.title" [id]="tile.id"></app-feedback-tile>
      <app-assignment-submission-tile *ngIf="tile.type === 'submission'" [title]="tile.title" [id]="tile.id"></app-assignment-submission-tile>
    </div>
  </div>

  
</div>
